@model IEnumerable<CityFunc.Web.Models.Funcionario>


@using (Html.BeginForm())
{
    <div class="form-inline">
        <input name="text" id="text" class="form-control col mr-sm-2" type="search" placeholder="Ex: Pedro Henrique, Porto Alegre, RS">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
    </div>
}

@if (Model.Any())
{
    <br />
    <table class="table table-bordered table-hover text-center table-sm">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.CPF)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.CEP)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Endereco)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Numero)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Complemento)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Municipio)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.UF)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Foto)
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CEP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Complemento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Municipio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UF)
                </td>
                <td>
                    <img src="~/Pictures/@Html.DisplayFor(modelItem => item.Foto)" alt="Foto" style="max-height: 60px" />
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
                </td>
            </tr>
        </tbody>
        }
    </table>
}
else
{
    <br />
    <div class="alert alert-warning" role="alert">Nenhum Registro Encontrado.</div>
}
