@model IEnumerable<CityFunc.Web.Models.Funcionario>

@{
    ViewBag.Title = "_partialSearch";
    Layout = null;
}

@using (Html.BeginForm("_partialSearch", "Funcionario", FormMethod.Post))
{
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="text" name="text" placeholder="Ex: Pedro Henrique, Porto Alegre, RS">
        <div class="input-group-append">
            <input class="btn btn-outline-secondary" type="submit" value="Buscar" />
        </div>
    </div>
}

@if (ViewBag.SearchText != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CEP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complemento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
        </tr>

        @foreach (var item in ViewBag.SearchText as IEnumerable<CityFunc.Web.Models.Funcionario>)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(model => item.CPF)
                </td>
                <td>
                    @Html.DisplayFor(model => item.CEP)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Endereco)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Complemento)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Municipio)
                </td>
                <td>
                    @Html.DisplayFor(model => item.UF)
                </td>
                <td>
                    <img src="@Html.DisplayFor(model => item.Foto)" alt="Foto" class="img-fluid" />
                </td>
            </tr>
        }

    </table>
}